/* subtitle */
h1{
  font-size: 100%;
  font-family: "Roboto";
  color: DarkSlateGrey;
}

/* alert ed etichette */
h2{
  font-size: 100%;
  font-family: "Roboto";
  color: DarkRed;
}

/* testo standard */
h3{
  font-size: 100%;
  font-family: "Roboto";
  color: Black;
}

/* corsi piscina */
h4{
  font-size: 100%;
  font-family: "Roboto";
  color: White;
}

h5{
  font-size: 100%;
  font-family: "Roboto";
  color: black;
}

h6{
  font-size: 100%;
  font-family: "Roboto";
  color: Black;
}

h7{
  font-size: 100%;
  font-family: "Roboto";
  color: DarkRed;
}

hnav{
  font-size: 100%;
  font-family: "Roboto";
  color: white;
}


@font-face {
    font-family: "Roboto";
    src: url(Fonts/Roboto/Roboto-Bold.ttf);
}

.navbar{
  background-color: #696969;
  font-family: "Roboto";
  font-weight: bold;
}


.dropdown-menu{
  background-color: DarkSlateGrey;
}

.dropdown-item:hover{
  background-color: red;
}

.nav-item:hover, .dropdown:hover{
  background-color: red;
}

#top{
  width:100px;
  text-align:center;
  padding:5px;
  position:fixed;
  bottom:10px;
  right:10px;
  cursor:pointer;
  display:none;
  font-family:verdana;
  font-size:12px;
}

#top img{
  width: 30px;
  height: 30px;
}

.container-fluid{
  display: block;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  background-color: inherit;
}

.row{
  width: 100%;
  height: auto;
  display: table;
  margin: inherit;
  padding-top: 5%;
}

.column-maps{
  width: 50%;
  height: auto;
  float: left;
  display: block;
}

.column-carosello{
  width: 100%;
  height: auto;
  float: left;
  display: block;
}

.column-contatti{
  width: 50%;
  height: auto;
  float: left;
  display: block;
}

.column-contattaci{
  width: 50%;
  height: auto;
  float: left;
  display: block;
}

.column-richieste{
  width: 50%;
  height: auto;
  float: left;
  display: block;
}


.column-social{
  width: 100%;
  height: auto;
  float: center;
  display: block;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: DarkRed;
}


.column-calendar{
  width: 100%;
  height: auto;
  float: left;
  display: block;
}

.column-corsi{
  width: 100%;
  height: auto;
  float: left;
  display: block;
}

.column-photoslink{
  width: 50%;
  height: auto;
  float: left;
  display: block;
}

.column-photoslink img{
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.column-inpiscina{
  width: 50%;
  float: left;
  height: auto;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: block;
}

.column-inpalestra{
  width: 50%;
  float: left;
  height: auto;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: block;
}

.column-avvisi{
  width: 100%;
  float: left;
  height: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: block;
}

.column-contattaci{
  width: 50%;
  height: auto;
  display: block;
}

.column-richieste{
  width: 50%;
  height: auto;
  display: block;
}

.column-photoslink:hover img{
  opacity: 0.8;
}

.img-responsive{
  width: 100%;
}

.carousel-inner{
  width: inherit;
  height: auto;
  max-height: 400px;
}

.carousel slide{
  width: inherit;
  height: auto;
}

footer{
  padding-left: 10%;
  background-color: inherit;
}

.card{
  width: 100%;
  max-width: auto;
}

.card-header{
  width: 100%;
  max-width: auto;
}

.card-body{
  padding-left: 1%;
  width: 100%;
  max-width: auto;
  height: auto;
}

.background_color{
  background-color: #F5F5F5;
}

.background_color_piscina{
  background-color: #87CEFA;
}

.background_color_palestra{
  background-color:  	#B22222;
}

.carousel{
  margin-left: inherit;
  margin-right: inherit;
}

.carousel-inner{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.carousel-inner img{
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.fa {
  font-size: 50px;
  width: 50px;
  text-align: center;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10%;
}

.fa:hover {
    color: black;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
